<section class="df">
    {{#each data}}
    <article class="card">
        <div class="front-pic">
            <p>No IMG</p>
        </div>
        <div class="data">
            <h2>{{this.title}}</h2>
            <p><b>{{this.sku}}</b></p>
            <p>{{this.price}}</p>
        </div>
    </article>
    {{/each}}

</section>


<script src="/socket.io/socket.io.js"></script>


