<section>
    <div id="card-container" class="df"></div>
</section>
<script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
<script src="/socket.io/socket.io.js"></script>
<script src="/index.js"></script>

